<html ng-app="xapp">
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HelloTest</title>
        <link rel="stylesheet" href="index.css"/>
    </head>
    <body>
            <input class="myBut" type="button" value="PressMe" onclick="printName()">
            <span class="mySpan1">Saswata </span>
            <span>Das</span>
            <span class="mySpan1">Passed out</span>
            <div class="myDiv">
                
                <span id="mySpan2">Hello</span>
            </div>
            <div>
                <span id="mySpan2">World</span>
                <br>
                <img class="testimg" src="images/index.jpeg"> 
                <img class="testImg2"src="https://wow.olympus.eu/webfile/img/1632/oly_testwow_stage.jpg" alt="Some image">
            </div>
            <div ng-controller="testControl">
                <input class="myBut" type="button" value="PressMe" ng-click="printX()">
                <span>{{outCome}}</span>
            </div>
            <br>
            
            <script src="angular.min.js"></script>
            <script src="index.js"></script>
    </body>
</html>