@-moz-keyframes myButtonAnim{
    from{
        right: 10px;
        opacity: 0;
    }
    to{
        right: 0%;
        opacity: 1;
    }
}

@keyframes myButtonAnim{
    from{
        margin-left: 100%;
        opacity: 0;
    }
    to{
        margin-right: 0%;
        opacity: 1;
    }
}

body{
    background-color: rgb(118, 51, 172);
}

.mySpan1{
    color: lime;
    font-size: 20px;
}

#mySpan2{
    color: darkgoldenrod;
}
.myDiv{
    width: 10vw;
    background-color: aqua;
}
.testimg{
    animation: myButtonAnim 3000ms;

    height:10vw;
    width:10vw;
}
.testImg2{
    width:10vw;
    height:15vw;

}


    .myBut{
        background-color: white;
    
        -webkit-transition: color 3000ms linear;
        -moz-transition: color 3000ms linear;
        -o-transition: color 3000ms linear;
        -ms-transition: color 3000ms linear;
        transition: color 3000ms linear;
    }
    
    .myBut:hover{
        color: aliceblue;
        background-color: blue;
    }




@media only screen and (max-width: 768px) {
    .testImg2{
        visibility: collapse;
    }
}

@media only screen and (max-width: 400px) {
    .testImg2{
        visibility: collapse;
    }
    .testImg{
        visibility: collapse;
    }
}